<!DOCTYPE html>
<html>
<head>
  <title>Weather News</title>
  <link rel="stylesheet" type="text/css" href="../static/css/news.css">
</head>
<body>
<div class="navigation">
    <h1>Weather Plot for City:</h1>
        {{ fig | safe }}
  </div>
  <div class="news-container">
    <h1>News Stories for City:</h1>
    {% for article in news.articles[:5] %}
      <div class="news-item">
        <h2>{{ article.title }}</h2>
        <h3>By: {{ article.author }}</h3>
        <p>{{ article.description }}</p>
        <img src="{{ article.urlToImage }}" alt="News Image">
        <a href="{{ article.url }}">Read more</a>
      </div>
    {% endfor %}
  </div>
</body>
</html>
